.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  height: 100vh;
  &-form {
    width: 300px;

    border-radius: 10px;
    h2 {
      text-align: center;
    }
    &_button {
      width: 100%;
    }
  }
}
.btn_signup {
  background-color: #ea7018 !important;
  height: 50px;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 18px;
  display: block;
  width: 100%;
  color: #fff;
}
.btn_google_signin {
  display: block;

  width: 100%;
  height: 49px;
  margin-top: 15px;
  background: #c74214;
  color: #fff;
  border: none;
  border-radius: 10px !important;
}

.img_btn_style {
  margin-right: 12px !important;
  width: 20px;
  height: 18px;
  font-size: 18px;
  font-weight: bold !important;
  margin-top: 1px;
}
.main_card_auth {
  box-shadow: 0 0 12px 2px #e5d9d9;
}
