.filter_section {
  background: #e0eaf3;
  padding: 8px;
  border-radius: 19px !important;
  margin-top: 20px;
}
.filter_section_icon {
  color: #11d703;

  font-size: 20px;
}
.main_client_div {
  margin-top: 94px !important;
  background: #365ce3b8 !important;
  height: 200px !important;
}
.sticky-container {
  box-shadow: 5px 10px 8px #c0b8b8;
  height: 200px;
}
.slide-content {
  position: relative;
}

.slide-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-index {
  color: white;
  font-weight: bold;
}

.location-icon {
  color: white;
}
.ant-list-header {
  background: #9bb5b800 !important;
  font-size: 17px;
  font-weight: bolder;
}
.main_client_div {
  background: #365ce3b8 !important;
  height: 200px !important;
  margin-top: 94px;
}
.sticky-container {
  box-shadow: 5px 10px 8px #f9f9f9;
  height: 200px;
}
.ant-card-body {
  padding: 10px !important;
}
.card_bottom {
  padding-left: 18px;
  padding-right: 15px;
  background: #ecf3e885;
  height: 50px;
  line-height: 50px;
  border-radius: 10px !important;
}
.search_field {
  margin-left: 240px;
  margin-right: 240px;
}
.btn_call_email {
  background-color: red;
  color: #fff;
  border: red;
  border-radius: 10px !important;
}

.btn_whatsapp {
  background: rgb(32, 160, 28);
  color: #fff;
  border: '#318b30';
  border-radius: 10px !important;
}
